@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #bf4244;
  color: white;
  font-family: "Montserrat";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

/* NAVBAR */

#navbar {
  background: #bf4244;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
}

#navbar ul li {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  transition: 0.5s;
}

#navbar ul li:hover {
  background: #45567d;
}

#navbar ul li a {
  font-size: 1.3rem;
}

/* WELCOME SECTION */
#welcome-section {
  height: 100vh;
  background-image: url("./images/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  text-align: center;
}

.wrapper h1 {
  font-size: 3rem;
  margin: 0;
}

.wrapper p {
  font-style: italic;
  color: #aa3a40;
  font-size: 1.75rem;
  margin: 1rem auto;
}

/* PROJECT SECTION */
#project-section {
  padding: 0 20rem;
  background: #45567d;
}

#project-section > h1 {
  padding: 4rem 0;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-container {
  background: url(./images/blog.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 250px;
}

.project-title {
  text-align: center;
  width: 100%;
  background: #303841;
}

.project-title p {
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem 0;
}
